.header-comp {
  height: 80px;
  max-width: 200px;
  width: auto;
}

.form-input {
  border: 1px solid black;
}

.anime-comp {
  position: absolute;
  top: 150px;
  right: 230px;
}

.for-animation {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0); /* Fix translateY value */
  }
}

.animation-comp {
  animation: 1s ease-out 0s 1 slideInFromLeft; /* Corrected animation name */
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
.checkbox-color {
  border-radius: 2px;
}
.for-form__linkhover:hover .arrow-Icon {
  transform: translateX(-5px);
}
.use-custom__links:hover {
  text-decoration: none;
}
.mule-icon {
  height: 30px;
  width: auto;
  max-width: 200px;
}
.Hero-background {
  background: linear-gradient(260.4deg, #001639 2.45%, #5867e8 101.28%);
}

.credential-error {
  background-color: #ba0517;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
}
.field-error {
  border-left: 2px solid #ba0517;
  border-right: 2px solid #ba0517;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #ba0517;
  padding: 8px 20px 8px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
.field-errorpass {
  border-left: 2px solid #ba0517;
  border-right: 2px solid #ba0517;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #ba0517;
  padding: 8px 20px 8px 10px;

  font-size: 14px;
}
.for-hover__effects:hover .arrow-movment {
  color: #0176d3;
  transform: translateX(5px);
}
.Slide_comp {
  text-align: left;
  border: 1px solid #eef4ff;
  background: #eef4ff;
}

.Slide_comp:hover {
  border-color: #014486;
}
.arrow-slide {
  opacity: 0;
}
.Slide_comp:hover .arrow-slide {
  opacity: 1;
  color: #0176d3;
  transform: translateX(5px);
}
.access-management__sidecomp:hover .access_box{
background-color: #0376d3;
}