.Credentials-page {
  background: linear-gradient(-90deg, #0176d3, #4079f1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Wrapper {
  flex-grow: 1;
}

.back-to-signin-stack:hover{
  .back-icon{
    width: 18px;
    margin-right: 6px;
    /* transition: transform .15s cubic-bezier(.65,.05,.36,1),-webkit-transform .15s cubic-bezier(.65,.05,.36,1); */
  }
}
