.Credentials-page {
  background: linear-gradient(-90deg, #0176d3, #4079f1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Wrapper {
  flex-grow: 1;
}

.back-to-signin-stack:hover {
  .back-icon {
    width: 18px;
    margin-right: 6px;
    /* transition: transform .15s cubic-bezier(.65,.05,.36,1),-webkit-transform .15s cubic-bezier(.65,.05,.36,1); */
  }
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

.sidebar_tab::before{
  background: #0176d3;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateX(-3px);
  transition: opacity .15s cubic-bezier(.46,.03,.52,.96), transform .15s cubic-bezier(.46,.03,.52,.96);
  width: 3px;
}
